h1 {
    font-size: 3em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1em;
}

hr {
    background: transparent;
    height: 0px;
    border: 0;
    border-bottom: 1px solid #323432;
}

.md-content {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
}

.js-only {
    display: none;
}

a, a:visited {
    color: #00a8a8;
}