<link rel="stylesheet" href="/amber-banner.css">

<div class="amber-banner-title">
    Open source promotion
</div>
<div class="amber-banner">
    <img src="/amber.svg" class="amber-banner-icon">
    <div>
        <h1>Amber: the TypeScript for bash</h1>
        <p>
            A type safe, easy to use language compiled to bash
        </p>
        <ul>
            <li>
                <a href="https://amber-lang.com">
                    <img alt="Go to website" title="Go to website" referrerpolicy="no-referrer" src="https://img.shields.io/badge/Go_to_website-orange?style=plastic">
                </a>
            </li>
            <li>
                <a href="https://github.com/amber-lang/amber.git">
                    <img alt="GitHub repository" title="Github repository" referrerpolicy="no-referrer" src="https://img.shields.io/github/stars/amber-lang/amber?style=plastic">
                </a>
            </li>
            <li>
                <img alt="GPL 3.0 license" title="GPL 3.0 license" referrerpolicy="no-referrer" src="https://img.shields.io/github/license/amber-lang/amber?style=plastic&color=blue">
            </li>
        </ul>
    </div>
</div>