<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf8'>

        <link rel='stylesheet' href='/base.css'>
        <link rel='stylesheet' href='/screen.css'>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet">
        <style>
            * { font-family: 'Noto Serif JP' }
        </style>

        <title>blek! World</title>
    </head>

    <body>
        <div class='screen bg'></div>
        <div class='screen content'>
            <h1 style='margin-bottom:0.25em'>
                <a href='/' class="title-a">blek! World</a>
            </h1>

            {% block content %} {% endblock %}
            
            <p style='font-size:80%;text-align:center;margin-top:120px;height:120px'>
                Background credit to
                <a style='color:gray !important' href="https://tenor.com/view/retro-aesthetic-gif-19478658">
                    tenor
                </a>
            </p>
        </div>
        {% block root %} {% endblock %}

        <script src='/script/cursor.min.js' type='application/javascript'></script>
        <script>
            for(var jsel=document.getElementsByClassName("js-only"),i=0;i<jsel.length;i++){var el=jsel.item(i);null!=el&&(el.className=el.className.replace("js-only",""))}delete jsel,delete i,delete el
        </script>
    </body>
</html>