<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf8'>

        <link rel='stylesheet' href='/base.css'>
        <link rel='stylesheet' href='/screen.css'>

        <title>blek! World</title>
    </head>

    <body>
        <div class='screen bg'></div>
        <div class='screen content'>
            <h1 style='margin-bottom:0.25em'>blek! World</h1>
            <h2>{{ section.title }}</h2>

            {% block content %} {% endblock %}
            
            <p style='font-size:80%;text-align:center;margin-top:320px'>
                Background credit to
                <a style='color:gray !important' href="https://tenor.com/view/retro-aesthetic-gif-19478658">
                    tenor
                </a>
            </p>
        </div>
    </body>
</html>