<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf8'>

        <link rel='stylesheet' href='/base.css'>
        <link rel='stylesheet' href='/screen.css'>

        <title>blek! World</title>
    </head>

    <body>
        <div class='screen bg'></div>
        <div class='screen content'>
            <h1 style='margin-bottom:0.25em'>blek! World</h1>
            <h2>{{ section.title }}</h2>

            {% block content %} {% endblock %}
            
            <p style='font-size:80%;text-align:center;margin-top:320px'>
                Background credit to
                <a style='color:gray !important' href="https://tenor.com/view/retro-aesthetic-gif-19478658">
                    tenor
                </a>
            </p>
        </div>
        <div class='screen flicker'></div>
        <div class='screen fader'>
            <p>
                <img src='/load.gif' width='46px' height='48px' style='margin-bottom:8px' /><br/>
                Loading...

                <span style='font-size:50%;display:block;margin-top:3em;color:#777777 !important'>
                    Credit for loading gif to
                    <a href='https://bdragon1727.itch.io/pixel-loading-pack-3'>
                        BDragon1727
                    </a>
                </span>
            </p>
        </div>
    </body>
</html>